<!DOCTYPE html>
<html>
    <head>
        <title>Trending Youtube Videos</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link type="text/css" href="./../public/css/landingPage.css" rel="stylesheet" />
        <link type="text/css" href="./../public/css/trendingVideos.css" rel="stylesheet" />
        <link type="text/css" href="./../public/css/makeVideoList.css" rel="stylesheet" />
        <link type="text/css" href="./../public/css/video.css" rel="stylesheet" />
        <link type="text/css" href="./../public/css/responsiveness.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:800" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

        <style>
            #loader{
                position: fixed;
                top: 50%;

            }
        </style>
    </head>
    <body>
        <div id="loader">

        </div>
        <div id="wrapper">
            <% if(response != null && response != undefined){ %>
                <button id="prevPage"><i class="fas fa-chevron-circle-left"></i></button>
                <button id="nextPage"><i class="fas fa-chevron-circle-right"></i></button>
                <span id="prevPageToken" class="hide"><%= response.prevPageToken %></span>
                <span id="nextPageToken" class="hide"><%= response.nextPageToken %></span>
            <%}%>
            <span id="presentQuery" class="hide"><%= regionCode %></span>
            <div id="header">
                <div id="nav">
                    <button class="btn" id="backToHome" type="button">Back to Home</button>
                </div>
                <% if(response == null){ %>
                    <h1 id="heading">Trending videos</h1>
                <%}%>
            </div>
            <form id="form">
                <%if(response == null){%>
                    <h2 id="label">Select Region:</h2>
                <%}%>
                <div class="search">
                    <select class="searchBox" name="regionCode">
                        <% for(var i = 0; i < countryCodes.length; i++){ %>
                            <option value="<%= countryCodes[i].Code %>" class="selectOption" <% if(regionCode == countryCodes[i].Code){ %> selected="selected" <% } %> >
                                <%= countryCodes[i].Name %>
                            </option>
                        <% } %>
                    </select>
                    <button type="submit" class="submitIcon"><i class="fas fa-search"></i></button>
                </div>
            </form>

            <div id="videosContainer">
                <% if(response != null && response != undefined){%>
                    <% include partials/makeVideoList %>
                <%}%>
            </div>

            <div id="footer">
                <div id="footNav">
                    <a href="http://www.evilbuggy.com/">About Me</a>
                    <a href="https://github.com/evilbuggy/youtube">Github Repository</a>
                </div>
                <div id="copyrights">
                    Created by <a href="http://www.evilbuggy.com/">EvilBuggy</a>
                </div>
            </div>
            <% if (response != null && response != undefined){ %>
                <% if(response.videoArr.length == 0){ %>
                    <h1 id="noResults">No Results</h1>
                <% } %>
            <%}%>
        </div>
        <% if(response != null && response != undefined){ %>
            <% var url = "http://www.youtube.com/embed/" %>
            <% for(var i = 0; i < response.videoArr.length; i++){ %>
                <% var vid = "v" + i%>
                <% var pid = "p" + i%>
                <div class="video" id="<%= pid %>">
                    <% var videoUrl = url + response.videoArr[i].videoId %>
                    <div id="<%= vid %>"></div>
                </div>
            <% } %>
        <%}%>
        <button id="close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" version="1.1" fill="#f6f6f6" width="50px" height="50px">
                <g id="surface1" fill="#f6f6f6"><path style=" " d="M 21.734375 19.640625 L 19.636719 21.734375 C 19.253906 22.121094 18.628906 22.121094 18.242188 21.734375 L 13 16.496094 L 7.761719 21.734375 C 7.375 22.121094 6.746094 22.121094 6.363281 21.734375 L 4.265625 19.640625 C 3.878906 19.253906 3.878906 18.628906 4.265625 18.242188 L 9.503906 13 L 4.265625 7.761719 C 3.882813 7.371094 3.882813 6.742188 4.265625 6.363281 L 6.363281 4.265625 C 6.746094 3.878906 7.375 3.878906 7.761719 4.265625 L 13 9.507813 L 18.242188 4.265625 C 18.628906 3.878906 19.257813 3.878906 19.636719 4.265625 L 21.734375 6.359375 C 22.121094 6.746094 22.121094 7.375 21.738281 7.761719 L 16.496094 13 L 21.734375 18.242188 C 22.121094 18.628906 22.121094 19.253906 21.734375 19.640625 Z " fill="#f6f6f6"/>
                </g>
            </svg>
        </button>

        <div id="loading"></div>
        <script src="./../public/scripts/trendingVideos.js"></script>
        <script src="./../public/scripts/video.js"></script>
    </body>
</html>
